.view-item.active,
.view-item:hover {
  border: solid 1px #fc6b40;
  background: #fff0ec;
  z-index: 2;
}

.line-view {
  left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.view-item {
  height: 42px;
  width: 42px;
  border: solid 1px #cdd4d9;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.box-view {
  right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


.al-overlay3 {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(29, 29, 33, 0.8);
  z-index: 10001;
}

.zi10101 {
  z-index: 10101 !important;
}

.bk-filter-block {
  position: fixed;
  right: 0;
  top: 0;
  width: 440px;
  height: 100vh;
  background: #fff;
  overflow: hidden auto;
  outline: none !important;
  -webkit-backface-visibility: hidden;
  display: block;
  z-index: 10102;
}

.bk-filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: solid 1px #E8EBF1;
  box-sizing: border-box;
  font-size: 24px;
  padding: 0 20px;
}

.bk-filter-fields {
  padding: 20px 24px;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.field-container .input-block label,
.leads-form .input-block label,
.search-block .input-block label,
.left-block .input-block label,
.field-container .input-block .error,
.leads-form .input-block .error,
.input-block .error {
  display: block;
  font-family: 'Helvetica Neue', Helvetica, 'helvetica', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ADB0B9;
  margin-bottom: 5px;
}



.field-container .input-block,
.leads-form .input-block,
.search-block .input-block {
  position: relative;
}

.hide {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, 'helvetica', Arial, sans-serif;
  font-size: 14px;
  color: #3e445b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}