@charset "UTF-8";
@import "common.css";
@font-face {
  font-family: "Helvetica Neue";
  src: url("./HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.main-temporary-container {
  max-width: 1460px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background: #fff;
  box-sizing: border-box;
}

body.modal-open {
  overflow: hidden;
}

#tasks-page-wrapper {
  font-family: "Helvetica Neue", Helvetica, "helvetica", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
#tasks-page-wrapper * {
  box-sizing: border-box;
}
#tasks-page-wrapper .title-row {
  padding: 22px 20px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tasks-page-wrapper .title-row h1 {
  padding: 0;
  margin: 0;
  font-size: 34px;
  line-height: 41px;
  font-style: normal;
  font-weight: normal;
  color: #3d445c;
}
#tasks-page-wrapper .tasks-view-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 42px;
  right: 20px;
  top: 0;
}
#tasks-page-wrapper .view-item {
  position: static;
}
#tasks-page-wrapper .view-item.line-view svg {
  stroke: #3d445c;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#tasks-page-wrapper .view-item.line-view.active svg, #tasks-page-wrapper .view-item.line-view:hover svg {
  stroke: #fc6b40;
}
#tasks-page-wrapper .view-item.box-view svg {
  fill: #3d445c;
}
#tasks-page-wrapper .view-item.box-view.active svg, #tasks-page-wrapper .view-item.box-view:hover svg {
  fill: #fc6b40;
}
#tasks-page-wrapper .box-view {
  margin-left: -1px;
}
#tasks-page-wrapper .tasks-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
#tasks-page-wrapper .tasks-search-input {
  background: white;
  border: 1px solid #CDD4D9;
  border-radius: 4px;
  width: 340px;
  height: 42px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #3d445c;
  padding: 0 11px;
  margin-right: auto;
}
#tasks-page-wrapper .tasks-search-input::placeholder {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #adb0b9;
  margin-bottom: 5px;
}
#tasks-page-wrapper .tasks-filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  background: white;
  border: 1px solid #CDD4D9;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #3d445c;
  height: 42px;
}
#tasks-page-wrapper .tasks-settings-btn {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #CDD4D9;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #3d445c;
}
#tasks-page-wrapper .create-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  background: #fc6b40;
  border: 1px solid #fc6b40;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  height: 42px;
}
#tasks-page-wrapper .tasks-tabs {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 1.2;
  color: #3d445c;
  border-bottom: solid 1px #CDD4D9;
}
#tasks-page-wrapper .tasks-tab-btn {
  font-family: "Helvetica Neue", Helvetica, "helvetica", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fc6b40;
  padding-bottom: 7px;
  display: inline-block;
  margin-right: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  text-decoration: none;
}
#tasks-page-wrapper .tasks-tab-btn.active {
  border-bottom: 2px solid #fc6b40;
  color: #3d445c;
}
#tasks-page-wrapper .tasks-table-wrapper {
  border-left: 1px solid #e8ebf1;
  border-right: 1px solid #e8ebf1;
  margin-bottom: 32px;
}
#tasks-page-wrapper .tasks-table {
  width: 100%;
  border-collapse: collapse;
}
#tasks-page-wrapper .tasks-table tr, #tasks-page-wrapper .tasks-table th {
  border-bottom: 1px solid #CDD4D9;
}
#tasks-page-wrapper .tasks-table-title {
  width: 100%;
  padding: 20px 16px;
  color: #3d445c;
  font-family: "Helvetica Neue", Helvetica, "helvetica", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  border-top: 1px solid #e8ebf1;
  border-bottom: 1px solid #e8ebf1;
}
#tasks-page-wrapper .tasks-table-col {
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  color: #3d445c;
  font-family: "Helvetica Neue", Helvetica, "helvetica", Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  text-align: left;
}
#tasks-page-wrapper .tasks-table-th-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
#tasks-page-wrapper .sort-icon-wrapper {
  position: relative;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
#tasks-page-wrapper .sort-button {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  width: auto;
  height: auto;
  background: transparent;
  border: none;
  cursor: n-resize;
  padding: 0;
}
#tasks-page-wrapper .sort-button:hover {
  background: #f5f5f5;
}
#tasks-page-wrapper .tasks-table-body .task-row-item td {
  padding: 0;
}
#tasks-page-wrapper .tasks-table-body .task-summary-grid {
  display: grid;
  grid-template-columns: 3% 9% 11% 12% 9% 11% 9% 9% 9% 9% 9%;
  align-items: center;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
#tasks-page-wrapper .tasks-table-body .task-summary-grid:hover {
  background-color: #f5f5f5;
}
#tasks-page-wrapper .tasks-table-body .tasks-table-td {
  width: 100%;
  min-width: 0;
  padding-right: 16px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tasks-page-wrapper .tasks-table-body .tasks-table-td::first-letter {
  text-transform: uppercase;
}
#tasks-page-wrapper .tasks-table-body .tasks-table-td.tasks-table-col__client {
  color: #fc6b40;
}
#tasks-page-wrapper .tasks-table-body .row-expand-arrow-wrapper {
  width: 16px;
  height: 16px;
}
#tasks-page-wrapper .tasks-table-body .details-content {
  position: relative;
  background-color: #f5f5f5;
  max-height: 0;
  opacity: 0;
  padding: 0 20px;
  transition: all 0.3s ease-out;
}
#tasks-page-wrapper .tasks-table-body .tasks-table-col__accordeon-arrow svg {
  transform: rotate(90deg);
}
#tasks-page-wrapper .tasks-table-body .task-row-item.expanded .task-summary-grid {
  background-color: #f5f5f5;
  grid-template-columns: 3% 97%;
}
#tasks-page-wrapper .tasks-table-body .task-row-item.expanded .tasks-table-col__task-type {
  font-weight: 700;
  max-width: 50%;
}
#tasks-page-wrapper .tasks-table-body .task-row-item.expanded .tasks-table-col__priority, #tasks-page-wrapper .tasks-table-body .task-row-item.expanded .tasks-table-col__title, #tasks-page-wrapper .tasks-table-body .task-row-item.expanded .tasks-table-col__client, #tasks-page-wrapper .tasks-table-body .task-row-item.expanded .tasks-table-col__status, #tasks-page-wrapper .tasks-table-body .task-row-item.expanded .tasks-table-col__creation-time, #tasks-page-wrapper .tasks-table-body .task-row-item.expanded .tasks-table-col__dedline-time, #tasks-page-wrapper .tasks-table-body .task-row-item.expanded .tasks-table-col__initiator, #tasks-page-wrapper .tasks-table-body .task-row-item.expanded .tasks-table-col__responsible, #tasks-page-wrapper .tasks-table-body .task-row-item.expanded .tasks-table-col__completion-time {
  display: none;
}
#tasks-page-wrapper .tasks-table-body .task-row-item.expanded .details-content {
  max-height: 1200px;
  opacity: 1;
  padding: 0 20px 20px;
}
#tasks-page-wrapper .tasks-table-body .task-row-item.expanded .tasks-table-col__accordeon-arrow svg {
  transform: rotate(270deg);
}
#tasks-page-wrapper .tasks-table-body .tasks-table-col__accordeon-arrow svg {
  transition: transform 0.3s ease;
}
#tasks-page-wrapper .tasks-table-col__accordeon-arrow {
  width: 3%;
  padding-left: 16px;
  padding-right: 8px !important;
}
#tasks-page-wrapper .tasks-table-col__task-type {
  width: 9%;
}
#tasks-page-wrapper .tasks-table-col__priority {
  width: 11%;
}
#tasks-page-wrapper .tasks-table-col__title {
  width: 12%;
}
#tasks-page-wrapper .tasks-table-col__client {
  width: 9%;
}
#tasks-page-wrapper .tasks-table-col__status {
  width: 11%;
}
#tasks-page-wrapper .tasks-table-col__creation-time {
  width: 9%;
}
#tasks-page-wrapper .tasks-table-col__dedline-time {
  width: 9%;
}
#tasks-page-wrapper .tasks-table-col__initiator {
  width: 9%;
}
#tasks-page-wrapper .tasks-table-col__responsible {
  width: 9%;
}
#tasks-page-wrapper .tasks-table-col__completion-time {
  width: 9%;
}
#tasks-page-wrapper .usual {
  color: #4fb14b;
  background-color: #edf7ed;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 4px;
}
#tasks-page-wrapper .important {
  color: #348af8;
  background-color: #ebf3fe;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 4px;
}
#tasks-page-wrapper .extra-important {
  color: #fc6b40;
  background-color: #fce9e4;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 4px;
}
#tasks-page-wrapper .details-wrapper {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  background-color: white;
}
#tasks-page-wrapper .details-wrapper .tab-content {
  display: none;
}
#tasks-page-wrapper .details-wrapper .tab-content.active {
  display: block;
}
#tasks-page-wrapper .details-table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
}
#tasks-page-wrapper .details-table__row-title {
  width: 200px;
  color: #3d445c;
  font-family: "Helvetica Neue", Helvetica, "helvetica", Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#tasks-page-wrapper .details-table .client-name {
  color: #fc6b40;
}
#tasks-page-wrapper .details-content-btn-wrapper {
  position: absolute;
  top: -40px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  z-index: 2;
}
#tasks-page-wrapper .details-content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #CDD4D9;
}
#tasks-page-wrapper .details-bottom-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
#tasks-page-wrapper .finish-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 6px;
  background-color: #fc6b40;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#tasks-page-wrapper .change-task-time-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 6px;
  background-color: transparent;
  color: #fc6b40;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#tasks-page-wrapper .details-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #f5f5f5;
  z-index: 10102;
  border-radius: 4px;
}
#tasks-page-wrapper .details-modal-container .details-content {
  width: 900px;
  border-radius: 4px;
  padding: 20px;
  overflow-y: auto;
}
#tasks-page-wrapper .details-modal-container .details-content-btn-wrapper {
  position: static;
}
#tasks-page-wrapper .details-modal-container .calendar-task-details-modal__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tasks-page-wrapper .details-modal-container .details-wrapper {
  background-color: white;
}
#tasks-page-wrapper .details-modal-container .tab-content {
  height: 390px;
  overflow-y: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.show-tasks-panel {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 42px;
}

.show-tasks-btn {
  width: calc((100% - 2px) / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CDD4D9;
  height: 100%;
  cursor: pointer;
}

.show-tasks-radio:checked + .show-tasks-btn {
  border: 1px solid #fc6b40;
}

.show-tasks--btn__all {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.show-tasks--btn__clients {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tasks-filter-modal-btn-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.show-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  background: #fc6b40;
  border: 1px solid #fc6b40;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  height: 42px;
}

.reset-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  background: white;
  border: 1px solid #CDD4D9;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #3d445c;
  height: 42px;
}

.fc .fc-customList-button {
  background-color: transparent !important;
  border: none !important;
  color: #3d445c !important;
  padding: 0 !important;
}
.fc .fc-customList-button ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  list-style: none;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.fc .fc-customList-button li {
  display: flex;
  gap: 5px;
}
.fc .fc-customList-button li .custom-list-tasks-number {
  font-weight: 600;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-top: -4px;
  margin-bottom: 20px;
}

.fc-today-button {
  background-color: transparent !important;
  color: #3d445c !important;
  border: 1px solid #CDD4D9 !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 130% !important;
  height: 52px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  min-width: 100px !important;
  border-radius: 4px !important;
}

.fc-toolbar-chunk:first-of-type {
  display: flex;
}
.fc-toolbar-chunk:first-of-type > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.fc-toolbar-chunk:first-of-type > div h2 {
  width: 106px;
  overflow: auto;
  font-family: "Helvetica Neue", Helvetica, "helvetica", Arial, sans-serif !important;
  font-weight: 600;
  font-size: 13px !important;
  text-align: center;
}
.fc-toolbar-chunk:first-of-type > div h2::first-letter {
  text-transform: uppercase;
}
.fc-toolbar-chunk:first-of-type > div .fc-button {
  background-color: transparent;
  border: none;
  color: #3d445c;
}

.fc {
  color: #3d445c;
  font-size: 13px;
  margin-bottom: 80px;
}

.fc .fc-daygrid-day-top:not(.fc-day-other .fc-daygrid-day-top) {
  font-weight: 600;
}

.fc .fc-daygrid-day-top {
  justify-content: center;
  margin-top: 8px;
}

.fc .fc-daygrid-day.fc-day-today {
  color: #fc6b40;
  outline: 1px dashed #fc6b40;
}

/* Стили для событий в календаре */
.fc-daygrid-event {
  cursor: pointer;
  padding: 4px 8px;
  margin-bottom: 4px;
  border-radius: 11px;
  font-family: "Helvetica Neue", Helvetica, "helvetica", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.fc-daygrid-event .fc-event-title {
  color: white;
}

.fc-event-usual {
  background-color: #edf7ed;
}
.fc-event-usual .fc-event-title {
  color: #4fb14b;
}

.fc-event-important {
  background-color: #ebf3fe;
}
.fc-event-important .fc-event-title {
  color: #348af8;
}

.fc-event-extra-important {
  background-color: #fce9e4;
}
.fc-event-extra-important .fc-event-title {
  color: #fc6b40;
}

.fc .fc-daygrid-more-link {
  width: 100%;
  padding: 4px 8px;
  border-radius: 11px;
  cursor: pointer;
  line-height: 1;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  z-index: 4;
  border-radius: 11px;
  font-family: "Helvetica Neue", Helvetica, "helvetica", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  border: none;
  background-color: #fc6b40;
  color: white;
  text-align: center;
}

.fc thead {
  background-color: #f5f5f5;
}

/*# sourceMappingURL=tasks.css.map */
